{:paths ["src"]
 :deps {;;
        io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
        clojure-term-colors/clojure-term-colors {:mvn/version "0.1.0"}
        mvxcvi/puget {:mvn/version "1.3.2"}
        io.github.borkdude/rewrite-edn {:git/sha "db6ea4b728f91ac164d80a705359d638f83fd8ea"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        ;;
        }

 :aliases
 {:build {:paths ["src"]
          :deps {;;
                 io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
                 clojure-term-colors/clojure-term-colors {:mvn/version "0.1.0"}
                 mvxcvi/puget {:mvn/version "1.3.2"}
                 io.github.borkdude/rewrite-edn {:git/sha "db6ea4b728f91ac164d80a705359d638f83fd8ea"}
                 org.clojure/data.json {:mvn/version "2.4.0"}
                 ;;
                 }
          :ns-default build}}}
